<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">Chatter</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login" class="btn btn-default">Login</a></li>
      <li><a href="/signup" class="btn btn-danger" style="color:white">Signup</a></li>
    </ul>
  </div>
</nav>