<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chatter</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>

    <% include ./partials/navbar %>

    <div class="container">
      <!-- Example row of columns -->
      <%- body -%>

    </div> <!-- /container -->
      <% include ./partials/footer %>
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>